@model TheCommonRoom_Capstone.Models.Bill

@{
    ViewData["Title"] = "Pay Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Paying Your Share of Bill</h3>

<form action="/Payment/Charge" method="POST">
    <article>
        <label>Amount: $@Model.TotalAmount</label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@ViewBag.StripePublishKey"
            data-locale="auto"
            data-description="Sample Charge"
            data-amount="@Model.TotalAmount">
    </script>
</form>

