@model TheCommonRoom_Capstone.Models.Poll

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add New Poll</h1>

<h4>Fill Out Info Below</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionOne" class="control-label"></label>
                <input asp-for="OptionOne" class="form-control" />
                <span asp-validation-for="OptionOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionTwo" class="control-label"></label>
                <input asp-for="OptionTwo" class="form-control" />
                <span asp-validation-for="OptionTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary" role="button" asp-action="Index">Back to Polls List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
