@model TheCommonRoom_Capstone.Models.Poll

@{
    ViewData["Title"] = "Vote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cast Your Vote</h1>

<h4>Poll</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Vote">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionOne" class="control-label"></label>
                <input type="checkbox" asp-for="CastVoteOptionOne" class="form-control" />
                <span asp-validation-for="CastVoteOptionOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionTwo" class="control-label"></label>
                <input type="checkbox"asp-for="CastVoteOptionTwo" class="form-control" />
                <span asp-validation-for="CastVoteOptionTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Poll List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
