@model IEnumerable<TheCommonRoom_Capstone.Models.Roommate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                <a asp-action="EditChore" asp-controller="Roommates" asp-route-id="@item.Id">Mark Chore Completed</a>
            </td>
        </tr>
}
    </tbody>
</table>
