@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-info"><strong>The Common Room</strong></h1>
    <p>
        <h3>
            This is your all-in-one management tool for your apartment!
            <br />
            Features include a Community Calendar, Automatically Assigned Chores, Announcement and Bill Trackers,
            <br />and even an option to add a Poll!
            <br />
        </h3>
        <h3 class="text-success">
            <br />Set Up Your Account Today!
        </h3>
    </p>
</div>
<div>
    <center>
        <img src="~/images/common--photo.jpg" alt="Common Room from Apartments.com" />
    </center>
</div>
