@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Common Room</h1>
    <p>Have many things centralized in Your Household/Apartment Here!
    Keep track of all of the events in your place of dwelling in one calendar along with a Chore List, Open Bills, and even
    the ability to add a poll!</p>
</div>
