@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Common Room</h1>
    <p>
        <h4>
            Keep many things centralized in Your Household or Apartment Here!
            Track all of the events in your place of dwelling in one calendar along with a Chore List, Open Bills, and even
            the ability to add a poll!
        </h4>
    </p>
</div>
<div>
    <center>
        <img src="~/images/common--photo.jpg" alt="Common Room from Apartments.com" />
    </center>
</div>
