@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>The Common Room</strong></h1>
    <p>
        <h2>
            This is your one stop shop management tool for your apartment!
            <br />
            Features include a Community Calendar, Automatically Assigned Chores, Announcement and Bill Trackers,
            <br />and even an option to add a Poll!
            <br />
        </h2>
        <h2 class="text-success">
            <br />Set Up Your Account Today!
        </h2>
    </p>
</div>
<div>
    <center>
        <img src="~/images/common--photo.jpg" alt="Common Room from Apartments.com" />
    </center>
</div>
